<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1060127379340-d2qq4cobqo6otntqerll0f8kec7pc325.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1060127379340-d2qq4cobqo6otntqerll0f8kec7pc325</string>
	<key>API_KEY</key>
	<string>AIzaSyBUvLhUZGFm8pe8QPF0MiVVKCCOQqyglsQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1060127379340</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.testFlutter</string>
	<key>PROJECT_ID</key>
	<string>testflutter-368d4</string>
	<key>STORAGE_BUCKET</key>
	<string>testflutter-368d4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1060127379340:ios:9df604e985bfe2808550a9</string>
</dict>
</plist>